In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [4]:
automobiles_data = pd.read_csv(r'C:\Users\clozy\opencv\Scripts\jpnb\deployingtoFlask\one\CarPrice_Assignment.csv')
automobiles_data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
automobiles_data.shape

(205, 26)

In [7]:
automobiles_data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [8]:
automobiles_data.drop(['car_ID', 'symboling','CarName'], axis=1, inplace=True)

In [9]:
automobiles_data = pd.get_dummies(automobiles_data)

In [10]:
automobiles_data.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,1,0,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,1,0,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,1,0,0

In [11]:
automobiles_data.shape

(205, 52)

In [12]:
X = automobiles_data.drop('price', axis=1)
Y = automobiles_data['price']

In [13]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [14]:
x_train.shape, x_test.shape

((164, 51), (41, 51))

In [15]:
y_train.shape, y_test.shape

((164,), (41,))

In [16]:
model = LinearRegression().fit(x_train, y_train)

In [17]:
Training_score = model.score(x_train, y_train)
Training_score

0.9467358932413572

In [18]:
y_pred = model.predict(x_test)
y_pred

array([16190.29901421, 32574.51139369,  5725.83247939, 20430.70437171,
       33302.21911362, 14043.03802993, 10166.36669195, 14019.3238939 ,
        9687.83066524, 12288.70424332, 14030.08515659,  5184.58693058,
       16152.42359622,  6132.42328216,  6095.57194011, 21937.93167418,
        9422.41624698, 27327.07055962,  5850.60570345,  9618.93175932,
       28277.09042777, 16545.83132021, 11411.19109167, 18608.84793665,
        6100.87108702,  6695.46882336, 16462.55869452,  9268.734574  ,
       19413.66424115,  6924.78860473, 15955.70925269, 16074.57535865,
       12802.64927389, 13737.37383294, 15848.67171749, 20180.85320569,
        9867.76930927, 10632.7310977 , 10542.73167722,  7967.03253797,
        8955.2411917 ])

In [19]:
Testing_score = r2_score(y_test, y_pred)
Testing_score

0.805217149280786

In [20]:
import json

In [21]:
model .coef_

array([ 4.67830128e+00,  5.21552406e+00,  5.75197779e+02,  4.06614096e+01,
        3.23821833e+00,  1.79596076e+02, -6.79767431e+03, -7.57705250e+03,
       -6.31709371e+02,  3.40310262e+01,  2.14099619e+00, -9.43215287e+01,
        1.53353226e+02,  3.72884799e+03, -3.72884799e+03, -7.28456625e+02,
        7.28456625e+02, -3.01448509e+02,  3.01448509e+02,  2.40797318e+03,
       -6.33840742e+01, -1.37950509e+03, -8.75715364e+01, -8.77512477e+02,
       -3.04951615e+02,  7.50724252e+01,  2.29879190e+02, -2.47690835e+03,
        2.47690835e+03, -7.71372242e+02, -3.86687494e+03, -3.23775616e+02,
        3.47266046e+03,  1.19160751e+03, -5.85860527e+03,  6.15636010e+03,
        1.24112508e+03, -1.21013151e+03,  5.08401919e+02, -3.79225347e+02,
        1.07604739e+04, -1.70770041e+04,  6.15636010e+03,  7.83093334e+02,
        5.76457518e+02, -3.15607910e+02,  3.72884799e+03, -3.06682964e+03,
        4.98468706e+02, -2.73876861e+03,  5.34338603e+02])

In [22]:
model.intercept_

-19202.11216014153

In [23]:
model_param = {}

model_param['coef'] = list(model.coef_)
model_param['intercept'] = model.intercept_.tolist()

In [24]:
json_txt = json.dumps(model_param, indent=4)
json_txt

'{\n    "coef": [\n        4.678301281523004,\n        5.215524055106211,\n        575.1977786996418,\n        40.661409557042425,\n        3.2382183349455342,\n        179.59607638224722,\n        -6797.674306892054,\n        -7577.052495821885,\n        -631.7093709105928,\n        34.031026240387455,\n        2.140996190681876,\n        -94.32152873853889,\n        153.3532257320469,\n        3728.847993581317,\n        -3728.847993581307,\n        -728.4566248820724,\n        728.4566248820718,\n        -301.4485089901824,\n        301.4485089902311,\n        2407.9731762791994,\n        -63.384074217572014,\n        -1379.5050890245084,\n        -87.57153635330285,\n        -877.5124766837806,\n        -304.9516148531182,\n        75.07242522638877,\n        229.87918962676352,\n        -2476.9083487739504,\n        2476.908348773944,\n        -771.3722421847779,\n        -3866.874938411057,\n        -323.77561639013584,\n        3472.660455955274,\n        1191.607510404484,\n        -5858.605267432447,\n        6156.360098058658,\n        1241.1250791141945,\n        -1210.1315068276356,\n        508.4019189772812,\n        -379.22534729344665,\n        10760.473891601752,\n        -17077.004133630755,\n        6156.36009805866,\n        783.0933340901682,\n        576.4575177171873,\n        -315.60790953834214,\n        3728.8479935813184,\n        -3066.8296393761734,\n        498.46870553404324,\n        -2738.768605220531,\n        534.33860321231\n    ],\n    "intercept": -19202.11216014153\n}'

In [100]:
with open('models/regressor_param.txt', 'w') as file:
    file.write(json_txt)

In [101]:
with open('models/regressor_param.txt', 'r') as file:
    json_text = json.load(file)

In [102]:
json_model.coef_ = np.array(json_text['coef'])
json_model.intercept_ = np.array(json_text['intercept'])

In [103]:
y_pred =json_model.predict(x_test)
r2_score(y_test, y_pred)

0.805217149280786